<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout1">
<!--Appel de la page layout dans la page patient avec les deux derniers dialects-->

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <title>Editer patient</title>
</head>
<body>

    <div layout:fragment="content1"><!--prise en compte du contenu-->
        <div class="col-md-6 offset-3">
            <form th:action="@{/admin/save(page=${page},keyword=${keyword})}" method="post">
                <div class="">
                    <input class="form-control" type="hidden" name="id" th:value="${patient.id}">
                </div>
                <div class="">
                    <label for="nom">Nom du patient</label>
                    <input id="nom" class="form-control" type="text" name="nom" th:value="${patient.nom}">
                    <span class="text-danger" th:errors="${patient.nom}"></span><!--pour les messages d'erreurs-->
                </div>
                <div class="">
                    <label for="dateNaissance">Date de naissance</label>
                    <input id="dateNaissance" class="form-control" type="date" name="dateNaissance" th:value="${patient.dateNaissance}">
                    <span class="text-danger" th:errors="${patient.dateNaissance}"></span><!--pour les messages d'erreurs-->
                </div>
                <div class="">
                    <label for="malade">Malade</label>
                    <input id="malade" type="checkbox" name="malade" th:checked="${patient.malade}">
                    <span class="text-danger" th:errors="${patient.malade}"></span><!--pour les messages d'erreurs-->
                </div>
                <div class="">
                    <label for="score">Score</label>
                    <input id="score" class="form-control" type="text" name="score" th:value="${patient.score}">
                    <span class="text-danger" th:errors="${patient.score}"></span><!--pour les messages d'erreurs-->
                </div>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>

</body>
</html>